{% form_theme form 'SoundShareCommunityBundle:Form:fields.html.twig' %}
{%extends "SoundShareCommunityBundle::layout.html.twig" %}
{% block content %}
{% if error %}
<div>{{ error.message }}</div>   
{% endif %}
    {{form(form)}}
{% endblock %}
