{%extends "SoundShareCommunityBundle::layout.html.twig" %}
{% block content %}
<div class="read-a-news">
    <h3>{{ news.title }}</h3>
    
    <p>{{ news.content }}</p>   
    
</div>
{% endblock %}
